---
layout: default
---

This gallery is mostly food I've cooked although food I've eaten is also included in it. It is
taken from <a href="https://www.instagram.com/eutrimonia">my Instagram</a> which I begrudgingly
maintai as the photo editing capabilities are quite nice. The photos are in no particular order as
I love all my food equally (and I didn't want to change the random filename convention inherited
from Instagram...)!

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <ol>
    {% for image in gallery.images %}
    <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
        <img src="{{ gallery.thumbfolder }}/{{ image.thumb }}">
    </a>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}
